/* ======================= */
/* header */
/* ======================= */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--headerH);
    // background-color: var(--blue);
    border-bottom: 1px solid var(--gray);

    &_wrap {
        display: flex;
        justify-content: space-between;
        position: relative;//prt
    }
    /* header logo */
    &_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        width: 220px;
        position: relative;
        top: -5px;
    }

    &_left {
        display: flex;
        align-content: center;
        min-width: calc(100% - 7.4% - 170px);
        /* 48px = 3.75% */
    }
    /* login & join */
    &_right {
        display: flex;
        align-items: center;

        button {
            width: 20rem;
            height: 5rem;
            border-radius: 2.5rem;
            border: none;
            font-size: 1.8rem;
            // background-color: var(--white);
            // color: var(--black);

            &:hover {
                // background-color: var(--sky);
                // color: var(--white);
                // box-shadow: inset 0 0 2px #000;
            }
        }
    }
}

/* menu */
.nav {
    // padding: 0 4.687%;
    font-size: 2.2rem;
}

.gnb {
    display: flex;
    align-items: center;
    height: 100%;

    > li {
        padding: 1rem 1.2rem;
        white-space: nowrap;

        &:hover > a::after {
            width: 100%;
        }

        > a::after {
            content: "";
            display: block;
            position: absolute;
            top: 150%;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--sky);
            transition: all 0.2s ease-in-out;
        }
    }

    li {
        &.depth > div {
            display: none;
            position: absolute;
            // top: 80px;
            font-size: 1.6rem;
            line-height: 70px;
        }

        a {
            position: relative;
            /* prt */
            display: inline-block;
            font-weight: bold;
            // color: #fff;
        }
    }

    .depth {
        li+li {
            margin-left: 3rem;
        }
    }
}
/* ======================= */
/* footer */
/* ======================= */
.footer {
    margin-top: 8rem;
    width: 100%;
    height: var(--footerH);
    // font-size: 1.2rem;
    border-top: 1px solid #707070;

    &_wrap {
        max-width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_img {
        width: 42px;
        filter: grayscale(1);
    }
}
/* info */
.address {
    display: flex;
    flex-direction: column;
    padding-left: 1.8rem;

    span+span {
        padding-top: 5px;
    }
}
/* customer center */
.cs_img {
    width: 40px;
    padding-right: 8px;
}
/* ======================= */
/* main
/* ======================= */
.s-mainBtn{
    background: aliceblue;
    .mainBtn{
        width: 49%;
        // height: 300px;
        border: 1px ridge #d0d0d0;
        border-radius: 80px;
        img{
            width: 200px;
        }
    }
}
/* ======================= */
/* review common : Search input box section */
/* ======================= */
.s-search {
    // padding-top: 8rem;
    padding-bottom: 4rem;
    // background-color: #efefef;

    > div {
        max-width: 500px;
    }

    .countBox {
        margin: 0 auto;

        .imgBox {
            max-width: 175px;
        }
    }

    .txtBox {
        padding-left: 2rem;
    }

    .searchBox {
        padding-top: 3rem;
        //
        // form{
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        // }

    }

    #comSel {
        width: 23%;
    }

    #comName {
        width: 55%;
    }

    #search {
        width: 20%;
    }
}
/* ======================= */
/* reviewMain */
/* ======================= */
.s-swiper{
    position: relative;
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        // background-color: #efefef;
    }
    .inwrap{

        &:after{
            padding-top: 75%;
        }
    }
    .swiper-slide{
        border-radius: 20px;
        background-color: #fff;
        box-shadow: inset 0 0 3px #d0d0d0;
    }
    .swiper-button-prev,
    .swiper-button-next{
        color: var(--blue);
        transition: color .2s ease-in-out;
        &:hover{
            color: var(--sky);
        }
    }
    .swiper-button-prev{
        left: -60px;
    }
    .swiper-button-next{
        right: -60px;
    }
}
.brand{
    text-align: center;
    &_name{
        padding-top: 28px;
        font-size: 2rem;
    }
    &_rate{
        padding-top: 15px;
        font-size: 1.6rem;
    }
    &_img{
        width: 150px;
        background: url('../img/common/brand_img_default.png') no-repeat center/cover;
        border-radius: 50%;
        border: 1px solid #d0d0d0;
    }
}
/* ======================= */
/* reviewSearch */
/* ======================= */
.s-reviewSearch{
    table{
        width: 500px;
        .name{
            width: 70%;
            text-align: left;
        }
        .ave{
            width: 30%;
            text-align: center;
        }
        tr:not(.thead){
            border-top: 1px solid #d0d0d0;
        }
        tr:nth-of-type(2){
            border-top: none;
        }
        th,td{
            padding: 10px;
        }
        th{
            border-bottom: 1px ridge var(--blue);
        }
        td{
            // &+td{
            //     border-top: 1px solid #d0d0d0;
            // }
            span{
                position: relative;
                left: -5px;
            }
            img{//star
                width: 18px;
            }
        }
    }
}
/* ======================= */
/* sign up */
/* ======================= */
#signupForm{
    width: 385px;
    text-align: center;
    table{
        margin: 0 auto;
        width: 100%;
        padding-top: 2rem;
    }
    tr{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 2rem;
    }
    td{
        padding-top: 1rem;
    }
}
#idCheck{
    font-size: 1.2rem;
}
/* ======================= */
/* login, signupComplete */
/* ======================= */
.s-login,
.s-signupComplete{
    width: 420px;
    padding-bottom: 4rem;
    margin: 0 auto;
}

#loginForm{
    h2{
        padding-bottom: 4rem;
    }
    .inputBox{
        width: 70%;
    }
    .btnBox{
        width: 28%;
    }
    input+input{
        margin-top: 1rem;
    }
    button{
        width: 100%;
        height: 100%;
    }
}

.joinTxt{
    button{
        margin-left: 1.5rem;
        width: 10rem;
    }
}

.s-signupComplete{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 300px;
    }
    h2{
        position: relative;
        padding-top: 1rem;
        &:after{
            top: 0;
            right: -10px;
        }
    }
}

.calcRes{
    .layout_wrap{
        margin: 0 auto;
        border-radius: 20px;
        border: 2px solid rgba(0,0,0,.7);
    }
    &_header{
        button{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
    b{
        display: inline-block;
        padding: 5px 18px;
        // background-color: var(--blue);
        // color: #000;
        background-color: #f0f8ff;
        border: 2px ridge var(--blue);
        border-radius: 10px;
    }
}

// incomeCalc
#resultForm{
    input[type="number"]{
        position: relative;
    }

    .unit-money{
        position: absolute;
        display: inline-block;
        top: 50%;
        right: 12px;
        color: #999;
    }
}
