
#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contents{
    flex-grow: 1;
}
/* ======================= */
/* header */
/* ======================= */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--green);
}

.header_wrap{
    display: flex;
    justify-content: space-between;
}

.header_logo{
    width: 100px;
}

.header_left{
    display: flex;
    min-width: calc(100% - 7.4% - 170px);
    /* 48px = 3.75% */
}
.nav{
    padding: 0 4.687%;
}

.gnb{
    display: flex;
    align-items: center;
    height: 100%;
}

.gnb > li{
    padding: 1rem 1.2rem;
}
.gnb li a{
    position: relative;
    /* prt */
    display: inline-block;
    font-weight: bold;
    color: #fff;
}
.gnb > li > a::after{
        content: "";
        display: block;
        position: absolute;
        top: 150%;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: var(--light);
        transition: all .2s ease-in-out;
}

.gnb > li:hover > a::after{
    width: 100%;
}
.gnb li.depth > div{
    display: none;
    position: absolute;
    top: 80px;
    font-size: 1.2rem;
}
/* .gnb li.depth:hover > div{
    display: block;
} */
.gnb .depth li+li{
    margin-left: 2rem;
}

.header_right{
    display: flex;
    align-items: center;
}
.header_right button{
    width: 17rem;
    height: 4.5rem;
    font-weight: bold;
    border-radius: 2rem;
    border: none;
    transition: all .2s ease-in-out;
}

.header_right button:hover{
    font-weight: bold;
    background-color: var(--light);
    box-shadow: inset 0 0 2px #000;
}

.footer{
    width: 100%;
    height: 80px;
    font-size: 1.2rem;
    border-top: 1px solid #707070;
}
.footer_wrap{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_img{
    width: 42px;
    filter: grayscale(1);
}
.address{
    display: flex;
    flex-direction: column;
    padding-left: 1.8rem;
}

.address span+span{
    padding-top: 5px;
}

.cs_img{
    width: 40px;
    padding-right: 8px;
}
