<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.projectJ.persistence.DiagnosisMapper">
	
<select id="searchResultAjaxSales" resultType="com.projectJ.domain.LocalSalesDTO">
	select * from localSales where l_type=#{type} and l_areaName=#{areaName} order by l_avgsales desc
</select>







</mapper>