/* ========================= root(S) ==========================*/

:root {
    /* color */
    --main: #246030;
    --black: #1E1E1E;
    /* --beige: #CBC1B2; */
    --white: #fff;
    /* fonts */
    --f-Noto: 'Noto Sans', sans-serif, Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    --f-Roboto: 'Roboto', sans-serif, 'Noto Sans', sans-serif, Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    --f-Verdana: 'Verdana', 'Noto Sans', sans-serif, Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    /* letter-spacing: -0.125em; */
}

/* ========================= root(E) ==========================*/
