<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- sql 문을 처리할때 null 값이 올 경우 에러 발생가능
		ex) DTO에 int 타입 변수 만들었는데 해당 변수가 값이 없이 전달 되었을 경우,
			동적 SQL !=null 로 검사 안되고, 자바문번에 따라 인스턴스변수 자동 초기화인 0으로
			채워져 0 값이 0으로 처리될 경우가 있다.
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	 -->

  	
  	<!-- 별칭 세팅 -->
	<typeAliases>
		<typeAlias type="com.member.domain.SignupDTO" alias="signupDTO"/>
	</typeAliases>  
  
  
  
  
  
  
  
  
  
  
  
  
</configuration>